# Node / package managers
node_modules/
.pnp.*
*.log

# Next.js
.next/
out/
.next-static/
.vercel/

# Env
.env
.env.*.local
.env.local

# Tests / coverage
coverage/
playwright-report/
test-results/
*.trace.zip

# OS / Editors
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Others
dist/
.cache/
